* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_9 {
  width: 100%;
  height: 2710px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_202 {
  width: 680px;
  height: 478px;
  background: url("../images/v34_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 716px;
  left: 994px;
  overflow: hidden;
}
.v51_3 {
  width: 680px;
  color: rgba(16,18,20,1);
  position: absolute;
  top: 434px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v227_920 {
  width: 680px;
  height: 410px;
  background: rgba(255,238,214,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v559_1261 {
  width: 512px;
  height: 310px;
  background: url("../images/v559_1261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 83px;
  overflow: hidden;
}
.v559_1262 {
  width: 511px;
  height: 296px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
}
.v559_1263 {
  width: 511px;
  height: 13px;
  background: url("../images/v559_1263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v559_1264 {
  width: 511px;
  height: 13px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v559_1265 {
  width: 226px;
  height: 9px;
  background: url("../images/v559_1265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 143px;
  overflow: hidden;
}
.v559_1266 {
  width: 226px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v559_1267 {
  width: 4px;
  height: 5px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 218px;
}
.v559_1268 {
  width: 37px;
  color: rgba(106,106,106,1);
  position: absolute;
  top: 1px;
  left: 95px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: center;
}
.v559_1269 {
  width: 10px;
  height: 9px;
  background: url("../images/v559_1269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 499px;
  overflow: hidden;
}
.v559_1270 {
  width: 10px;
  height: 9px;
  background: rgba(202,202,202,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v559_1274 {
  width: 16px;
  height: 9px;
  background: url("../images/v559_1274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 480px;
  overflow: hidden;
}
.v559_1275 {
  width: 16px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v559_1276 {
  width: 5px;
  height: 4px;
  background: url("../images/v559_1276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v559_1284 {
  width: 16px;
  height: 9px;
  background: url("../images/v559_1284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 461px;
  overflow: hidden;
}
.v559_1285 {
  width: 16px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v559_1286 {
  width: 4px;
  height: 6px;
  background: url("../images/v559_1286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v559_1293 {
  width: 0px;
  height: 2px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v559_1294 {
  width: 0px;
  height: 2px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v559_1295 {
  width: 0px;
  height: 0px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v559_1296 {
  width: 22px;
  height: 4px;
  background: url("../images/v559_1296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 6px;
  overflow: hidden;
}
.v559_1297 {
  width: 5px;
  height: 4px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v559_1298 {
  width: 5px;
  height: 4px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v559_1299 {
  width: 5px;
  height: 4px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
}
.v559_1300 {
  width: 22px;
  height: 9px;
  background: url("../images/v559_1300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 33px;
  overflow: hidden;
}
.v559_1301 {
  width: 11px;
  height: 9px;
  background: url("../images/v559_1301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v559_1302 {
  width: 11px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v559_1303 {
  width: 2px;
  height: 4px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v559_1304 {
  width: 11px;
  height: 9px;
  background: url("../images/v559_1304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v559_1305 {
  width: 11px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v559_1306 {
  width: 2px;
  height: 4px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
}
.v559_1307 {
  width: 16px;
  height: 9px;
  background: url("../images/v559_1307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 59px;
  overflow: hidden;
}
.v559_1308 {
  width: 16px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.name {
  color: #fff;
}
.v34_136 {
  width: 680px;
  height: 478px;
  background: url("../images/v34_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 716px;
  left: 240px;
  overflow: hidden;
}
.v34_135 {
  width: 680px;
  color: rgba(16,18,20,1);
  position: absolute;
  top: 434px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v227_1 {
  width: 680px;
  height: 410px;
  background: rgba(219,236,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v227_4 {
  width: 512px;
  height: 310px;
  background: url("../images/v227_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 83px;
  overflow: hidden;
}
.v227_5 {
  width: 511px;
  height: 296px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
}
.v227_6 {
  width: 511px;
  height: 13px;
  background: url("../images/v227_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v227_7 {
  width: 511px;
  height: 13px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v227_8 {
  width: 226px;
  height: 9px;
  background: url("../images/v227_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 143px;
  overflow: hidden;
}
.v227_9 {
  width: 226px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v227_10 {
  width: 4px;
  height: 5px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 218px;
}
.v227_11 {
  width: 37px;
  color: rgba(106,106,106,1);
  position: absolute;
  top: 1px;
  left: 95px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: center;
}
.v227_12 {
  width: 10px;
  height: 9px;
  background: url("../images/v227_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 499px;
  overflow: hidden;
}
.v227_13 {
  width: 10px;
  height: 9px;
  background: rgba(202,202,202,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v227_17 {
  width: 16px;
  height: 9px;
  background: url("../images/v227_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 480px;
  overflow: hidden;
}
.v227_18 {
  width: 16px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v227_19 {
  width: 5px;
  height: 4px;
  background: url("../images/v227_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v227_27 {
  width: 16px;
  height: 9px;
  background: url("../images/v227_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 461px;
  overflow: hidden;
}
.v227_28 {
  width: 16px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v227_29 {
  width: 4px;
  height: 6px;
  background: url("../images/v227_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v227_36 {
  width: 0px;
  height: 2px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v227_37 {
  width: 0px;
  height: 2px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v227_38 {
  width: 0px;
  height: 0px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v227_39 {
  width: 22px;
  height: 4px;
  background: url("../images/v227_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 6px;
  overflow: hidden;
}
.v227_40 {
  width: 5px;
  height: 4px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v227_41 {
  width: 5px;
  height: 4px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v227_42 {
  width: 5px;
  height: 4px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
}
.v227_43 {
  width: 22px;
  height: 9px;
  background: url("../images/v227_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 33px;
  overflow: hidden;
}
.v227_44 {
  width: 11px;
  height: 9px;
  background: url("../images/v227_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v227_45 {
  width: 11px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v227_46 {
  width: 2px;
  height: 4px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v227_47 {
  width: 11px;
  height: 9px;
  background: url("../images/v227_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v227_48 {
  width: 11px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.v227_49 {
  width: 2px;
  height: 4px;
  background: rgba(147,147,147,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
}
.v227_50 {
  width: 16px;
  height: 9px;
  background: url("../images/v227_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 59px;
  overflow: hidden;
}
.v227_51 {
  width: 16px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.3866393566131592px 0px rgba(0, 0, 0, 0.10000000149011612);
}
.name {
  color: #fff;
}
.v2_2 {
  width: 511px;
  height: 275px;
  background: url("../images/v2_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 325px;
  overflow: hidden;
}
.v34_0 {
  width: 100%;
  height: 471px;
  background: url("../images/v34_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 238px;
  overflow: hidden;
}
.v34_1 {
  width: 100%;
  color: rgba(16,18,20,1);
  position: absolute;
  top: 90px;
  left: 4px;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v399_2597 {
  width: 40px;
  height: 48px;
  background: url("../images/v399_2597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
